@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root{
 --black:#333;
 --white:#FFF;
 --light-color:#666;
 --main-color:#16d44f;

}

 *{
    font-family:"Lato",sans-serif;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    transition: all .2s linear;
    text-decoration: none;
    box-sizing: border-box;

}
 html{
    font-size: medium;
}

.header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 5%;
        position: sticky;
        top: 0; left: 0;right: 0;
}
.header .logo{
    font: size 2rem;
    color:var(--black);
    text-transform:capitalize;
    font-weight: 700;
}
.header.logo span{
    color:var(--main-color);
    text-transform: capitalize;
}
 .header .navbar{
    display: flex;
    align-items: center;
    justify-self: center;
    gap: 8rem;
}
.header .navbar a{
    color: var(--black);
    font-size: 1.5rem;
    text-transform: capitalize;
    padding: 1rem;
}
.header .navbar a:hover{
    color: var(--white);
    background-color: var(--main-color);
}
.header.icon{
    background-color:var(--main-color);
    padding: 1rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header.icon i{
    color: var(--white);
    font-size: medium;
}
.header.icon i:hover{
    cursor: pointer;
    background-color: var(--black);
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem 5%;
}
.main .image img{
    height: 50rem;
    width: 30rem;
    object-fit: cover;
}
.main .product{
    display: flex;
    flex-flow:column;
    align-items: start;
    justify-content: center;
}
.main .product h1{
    font-size: xx-large;
    color: var(--black);
    margin-bottom: 2rem;

}
.main .product h1 span{
    color: var(--main-color);
}
.product p{
    color: var(--light-color);
    line-height: 2rem;
    font-size: 1.3rem;
    text-transform: lowercase;
    width: 40rem;
}
.main .product .btn{
    color: var(--white);
    background-color: var(--main-color);
    padding: 1rem 3rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 800;
    margin: 1rem 0;
    box-shadow: 1rem 5rem 3rem #999;
}
.main .product .btn:hover{
    background-color: var(--black);
    border-radius: 3rem;
}
.new {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    margin-bottom: 3rem;

}
.new .head h3{
    font-size: medium;
    color: var(--black);
    text-transform: capitalize;
}
.new  .head p{
    font-size: medium;
    color:#666 ;
    text-transform: lowercase;
    line-height: medium;
}
.new  .head{
    display: flex;
    align-items: center;
    justify-self: center;
}
.new .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    gap: medium;
    margin: 3rem 0;
}
.new .box-container.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    cursor: pointer;
}
.new .box-container.box:hover{
    box-shadow:  .1rem .5rem 1rem #999;
}
.new .box-container.box img{
    height: 10rem;
    width: 15rem;
    object-fit: cover;
}
.new .box-container.box{
    font-size: medium;
    color: var(--main-color);
    text-transform: uppercase;
    margin: 1rem 0;
}
.new .box-container.box p{
    font-size: medium;
    color: var(--light-color);
    text-transform: lowercase;
    margin: 1rem 0;
    text-align: center;
    width: 29rem;
}
.New .box-container .box .stars i{
    color: #16d44f;
    font-size: 1rem;
    margin: 0  .5rem;
}
.new .box-container .box .flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    margin: 1rem 0;
}

.new .box-container.box-container .box .flex .btn{
    background-color: var(--main-color);
    color: var(--white);
    font-size: 1,5rem;
    padding: .5rem 1rem;
    border-radius: 1rem;

}
.new .box-container.box-container .box .flex .btn:hover{
    background-color: var(--black);
    border-radius: 0%;
}

.new .box-container .box .flex span{
    color: var(--black);
    font-size: 1.5rem;

}