{% macro form_generate(form) %}
<form action="" method="post" class="form-group">
    {{ form.hidden_tag() }} 
    {% for field in form if field.widget.input_type != 'hidden' %}
        <div class="form-group">
            {{ field.label(class="form-label") }}
            {{ field(class="form-control") }}
        </div> 
        {% if field.errors %}
            {% for error in field.errors %}
                <div class="text-danger">
                    {{ error }}
                </div>
            {% endfor %}
        {% endif %}
    {% endfor %}
    <button type="submit" class="btn btn-primary">{{ form.submit.label }}</button>
</form>
{% endmacro %}